body {
  background-color: #808080;
  background-image: url('https://www.transparenttextures.com/patterns/brick-wall-dark.png');
  user-select: none;
  text-align: center;
}

/* #room-id {
  margin: 0.5rem auto;
  display: inline-block;
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  outline-style: none;
  cursor: pointer;
  border-radius: 50%;
} */

.board {
  margin: 2rem auto;
  width: 39rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  flex: 1 1 10%;
}

.space {
  width: 2rem;
  height: 2rem;
  background-color: #808080;
  border-radius: 50%;
  border: black solid 1px;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.special-space {
  filter: brightness(0.8);
}

.winning-pieces {
  border-color: gold;
  filter: drop-shadow(0 0 1rem gold) blur(0.1rem);
  animation: winning-pieces 1s;
}

/* toolkit */

.toolkit {
  margin: auto;
  width: 39rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.toolkit button {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  background-color: #ccc;
}

#back-symbol,
#clear-symbol,
#join-symbol {
  font-size: 2rem;
}
/* 
#replay-symbol {
  position: relative;
  bottom: 0.9rem;
  right: 0.05rem;
  font-size: 3.7rem;
} */

.toolkit button:disabled {
  cursor: not-allowed !important;
  opacity: 0.5;
  transform: scale(1) !important;
}

/* signifer */

.black-signifier,
.white-signifier {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.black-signifier {
  background-color: black;
  filter: drop-shadow(0 0 1rem black) blur(0.3rem);
}

.white-signifier {
  background-color: white;
  filter: drop-shadow(0 0 1rem white) blur(0.3rem);
}

/* hover effects */

.black-hover:hover {
  background-color: black;
}

.white-hover:hover {
  background-color: white;
}

.black-hover:hover,
.white-hover:hover {
  cursor: pointer;
  transform: scale(0.95);
  filter: opacity(0.6);
}

.toolkit button:hover {
  cursor: pointer;
  transform: scale(0.85);
}

.black-signifier:hover,
.white-signifier:hover {
  filter: none;
}

.game-over-signifier:hover {
  filter: drop-shadow(0 0 1rem gold);
  cursor: wait;
}

/* game over */

.game-over-signifier {
  transform: scale(1.2);
  animation: game-over 5s;
  filter: drop-shadow(0 0 1rem gold);
}

.game-over-board {
  cursor: not-allowed;
}

/* animation */

@keyframes game-over {
  0% {
    transform: scale(1);
    filter: blur(0.3rem);
  }

  60% {
    transform: scale(1.5);
    filter: none;
  }

  100% {
    transform: scale(1.2);
    filter: drop-shadow(0 0 1rem gold);
  }
}

@keyframes winning-pieces {
  from {
    border-color: black;
    filter: none;
  }

  to {
    border-color: gold;
    filter: drop-shadow(0 0 1rem gold) blur(0.1rem);
  }
}

/* media queries
@media (max-width: 480px) {
  body {
    transform: scale(2);
  }
} */
