* {
  outline: none;
}

body {
  background-color: #808080;
  background-image: url('https://www.transparenttextures.com/patterns/brick-wall-dark.png');
  user-select: none;
}

/* DON'T style a class named 'false' */

/* header */

header {
  text-align: center;
}

#room-id {
  text-align: center;
  margin: 0.5rem auto;
  color: black;
  font-weight: 900;
  width: 8rem;
  height: 2rem;
  font-size: 1.5rem;
  background-color: #808080;
  font-family: 'Courier New', Courier, monospace;
  outline-style: none;
  border-style: none;
  border-radius: 1rem;
}

#room-id:focus {
  height: 2rem;
  color: #aaaaaa;
}

/* label[for='room-id'] {
  font-size: 1.3rem;
  margin-right: 1rem;
} */

/* main */

.loading {
  cursor: wait !important;
  pointer-events: none;
}

.board {
  margin: 0.5rem auto 1.5rem;
  width: 39rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  flex: 1 1 10%;
}

.space {
  width: 2rem;
  height: 2rem;
  background-color: #808080;
  border-radius: 50%;
  border: black solid 1px;
}

.black {
  background-color: black;
  pointer-events: none;
}

.white {
  background-color: white;
  pointer-events: none;
}

.special-space {
  filter: brightness(0.8);
}

.winning-pieces {
  border-color: gold;
  filter: drop-shadow(0 0 1rem gold) blur(0.1rem);
  animation: winning-pieces 1s;
}

/* toolkit */

.toolkit {
  margin: auto;
  width: 39rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.toolkit button {
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  background-color: #ccc;
  font-size: 2rem;
}

.toolkit button:disabled {
  cursor: not-allowed !important;
  opacity: 0.5;
  transform: scale(1) !important;
}

/* signifer */

.black-signifier,
.white-signifier {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.black-signifier {
  background-color: black;
  filter: drop-shadow(0 0 1rem black) blur(0.3rem);
}

.white-signifier {
  background-color: white;
  filter: drop-shadow(0 0 1rem white) blur(0.3rem);
}

/* hover effects */

.black-hover:hover {
  background-color: black;
}

.white-hover:hover {
  background-color: white;
}

.black-hover:hover,
.white-hover:hover {
  cursor: pointer;
  transform: scale(0.95);
  filter: opacity(0.6);
}

.toolkit button:hover {
  cursor: pointer;
  transform: scale(0.85);
}

.black-signifier:hover,
.white-signifier:hover {
  filter: none;
}

.game-over-signifier:hover {
  filter: drop-shadow(0 0 1rem gold);
  cursor: wait;
}

/* game over */

.game-over-signifier {
  transform: scale(1.2);
  animation: game-over 5s;
  filter: drop-shadow(0 0 1rem gold);
}

.prohibited {
  cursor: not-allowed;
}

/* animation */

@keyframes game-over {
  0% {
    transform: scale(1);
    filter: blur(0.3rem);
  }

  60% {
    transform: scale(1.5);
    filter: none;
  }

  100% {
    transform: scale(1.2);
    filter: drop-shadow(0 0 1rem gold);
  }
}

@keyframes winning-pieces {
  from {
    border-color: black;
    filter: none;
  }

  to {
    border-color: gold;
    filter: drop-shadow(0 0 1rem gold) blur(0.1rem);
  }
}

/* media queries
@media (max-width: 480px) {
  body {
    transform: scale(2);
  }
} */
